{% extends "game/index.html" %}

{% block main %}
    <section class="main-wrapper single-category">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
               <div class="col-sm-12">
                 <img src="{{ news.pic }}" class="img-leading img-thumbnail" alt="img">
                 <h2 class="main-entry-title">{{ news.title }}</h2>
                 <div class="entry-blog-meta">
                  <div class="entry-blog-meta-list">
                    <div class="author-avatar-text">
                      <p class="author">{{ news.sentence }}</p>
                    </div>
                  </div> <!-- //entry-blog-meta-list -->

                  <div class="entry-blog-meta-list">
                    <div class="share-count">
                      <span class="number">{{ news.views }}</span><span>Views</span>
                    </div>
                  </div> <!-- //entry-blog-meta-list -->
                </div> <!-- //entry-blog-meta -->

                <div class="entry-summary">
                    {{ news.content | safe }}
                </div>   <!-- //entry-summary -->

                <div class="post-meta-info">
                  <div class="post-meta-info-list tags">
                    <i class="fa fa-tags"></i>
                    <div class="post-meta-info-list-in tags-in">
                      <p>Tags</p>
                      <a href="#">News</a>
                    </div>
                  </div>
                  <div class="post-meta-info-list comments">
                    <i class="fa fa-comments-o"></i>
                    <div class="post-meta-info-list-in comments-in">
                      <p>Comments</p>
                      <a href="#"><span class="leave-reply">{{ replies | length }}</span></a>
                    </div>
                  </div>
                  <div class="post-meta-info-list category">
                    <i class="fa fa-folder-open-o"></i>
                    <div class="post-meta-info-list-in category-in">
                      <p>Category</p>
                      <a href="/g" rel="category tag">News</a>
                    </div>
                  </div>
                  <div class="post-meta-info-list date">
                    <i class="fa fa-calendar-o"></i>
                    <div class="post-meta-info-list-in date-in">
                      <p>Date</p>
                      <time class="entry-date">{{ moment(news.date_created).format("dddd, MMMM Do YYYY") }}</time>
                    </div>
                  </div>
                </div> <!-- //post-meta-info -->
               </div> <!-- //col-sm-12 -->

             </div>

{#            <div class="row">#}
{#              <div class="col-sm-12">#}
{#                 <div class="section-title">#}
{#                 <h3> <span class="cat-icon"><i class="fa fa-book"></i></span>More Related Stories</h3>#}
{#                 </div>#}
{#               </div> <!-- //section-title -->#}
{##}
{#              <div class="simple-article-overlay mtt30">#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail01.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail02.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail03.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail04.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail05.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail06.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#             </div>#}
{#           </div> <!-- //row -->#}

           <div class="row">
             <!-- previous comments -->
             <div class="col-sm-12">
              <div class="comments-content mtt60">
                    <ul class="list-group reply-list">
                        <li class="list-group-item reply-header small">
                            <strong>{{ replies | length }} Reply<strong></strong>
                            </strong>
                        </li>
                        {% for i in replies %}
                            <li class="list-group-item reply">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="/member/{{ i.username }}">
                                     <img class="media-object" src="{{ i.get_user().avatar }}" data-holder-rendered="true" style="width: 48px; height: 48px;">
                                    </a>
                                  </div>
                                    <div class="media-body">
                                        <span>
                                            <strong id="username">{{ i.username }}</strong> <span class="text-muted">&nbsp;&nbsp;{{ moment(i.date_created, local=True).fromNow() }}</span>
                                        </span>
                                        <p>
                                        {{ i.content | safe }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                    </ul>
              </div>
            </div> <!-- //previous comments -->
           <div class="comments-form col-sm-12">
              <div class="section-title">
               <h3> <span class="cat-icon"><i class="fa fa-commenting"></i></span>Leave a comment</h3>
             </div>
             <div class="contact-form leave-message">
               <form id="main-contact-form" >
                   {{ form.hidden_tag() }}
                 <div class="form-group input-textarea">
                   {{ form.content(class="form-control",style="overflow: hidden;resize: vertical; word-wrap: break-word; width: 100%;",maxlength='10000') }}
                 </div>
                 <button type="submit" class="btn btn-success" onclick="post_reply()">Send Message</button>
               </form>
             </div>
            </div>
           </div> <!-- //row -->
          </div> <!-- //col-sm-9 -->
        </div> <!-- //row -->
      </div> <!-- //container -->
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $('textarea').focus(function(){
                {% if not current_user.is_authenticated %}
                    alert("Login first");
                    $("textarea").blur();
                {% endif %}
            })
        });
    function post_reply(){
        $.ajax({
            url: "/g/handle_ajax",
            type: "GET",
            data: {"tab":"gnews", "action":"post_reply", "id":"{{ news.id }}", "content": $("#content").val()},
            success: function(){
                location.reload()
            }
        })
    }
    {% if current_user.is_authenticated %}
        var $button = $("<div id='reply-button' class='btn btn-xs'><i class='fa fa-reply btn-success' aria-hidden='true'></i></div>").click(function(){
            var m = $(this).prev().find("#username").text();
            $("#content").focus().text("@" + m + " ");
        });
        $(".reply").hover(function(){ $(this).append($button);
            $button.show();
        }, function(){ $button.hide();  });  {% endif %}
    </script>
{% endblock %}
