{% extends "game/index.html" %}
{% block title %}
    {{ news.title }} - 0Tinn Game News
{% endblock %}
{% block main %}
    <section class="main-wrapper single-category">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
               <div class="col-sm-12">
                 <img src="{{ news.pic }}" class="img-leading img-thumbnail" alt="img">
                 <h2 class="main-entry-title">{{ news.title }}</h2>
                 <div class="entry-blog-meta">
                  <div class="entry-blog-meta-list">
                    <div class="author-avatar-text">
                      <p class="author">{{ news.sentence }}</p>
                    </div>
                  </div> <!-- //entry-blog-meta-list -->

                  <div class="entry-blog-meta-list">
                    <div class="share-count">
                      <span class="number">{{ news.views }}</span><span>Views</span>
                    </div>
                  </div> <!-- //entry-blog-meta-list -->
                </div> <!-- //entry-blog-meta -->

                <div class="entry-summary">
                    {{ news.content | safe }}
                </div>   <!-- //entry-summary -->

                <div class="post-meta-info">
                  <div class="post-meta-info-list tags">
                    <i class="fa fa-tags"></i>
                    <div class="post-meta-info-list-in tags-in">
                      <p>Tags</p>
                      <a href="#">News</a>
                    </div>
                  </div>
                  <div class="post-meta-info-list comments">
                    <i class="fa fa-comments-o"></i>
                    <div class="post-meta-info-list-in comments-in">
                      <p>Comments</p>
                      <a href="http://0tinn.com/g/{{ news.title }}#disqus_thread" data-disqus-identifier={{ news.id }}></a>
                    </div>
                  </div>
                  <div class="post-meta-info-list category">
                    <i class="fa fa-folder-open-o"></i>
                    <div class="post-meta-info-list-in category-in">
                      <p>Category</p>
                      <a href="/g" rel="category tag">News</a>
                    </div>
                  </div>
                  <div class="post-meta-info-list date">
                    <i class="fa fa-calendar-o"></i>
                    <div class="post-meta-info-list-in date-in">
                      <p>Date</p>
                      <time class="entry-date">{{ moment(news.date_created).format("dddd, MMMM Do YYYY") }}</time>
                    </div>
                  </div>
                </div> <!-- //post-meta-info -->
               </div> <!-- //col-sm-12 -->

             </div>

{#            <div class="row">#}
{#              <div class="col-sm-12">#}
{#                 <div class="section-title">#}
{#                 <h3> <span class="cat-icon"><i class="fa fa-book"></i></span>More Related Stories</h3>#}
{#                 </div>#}
{#               </div> <!-- //section-title -->#}
{##}
{#              <div class="simple-article-overlay mtt30">#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail01.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail02.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail03.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail04.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail05.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#               <div class="col-sm-4">#}
{#                 <article class="gradient-color04">#}
{#                   <div class="article-inner">#}
{#                     <div class="overlay"></div>#}
{#                     <div class="img-wrapper"><img class="img-100p latest-post-image" src="img/article-img/thumbnail06.jpg" alt="img"></div>#}
{#                     <div class="post-share-social">#}
{#                       <a href="#" class="fa fa-facebook"></a>#}
{#                       <a href="#" class="fa fa-twitter"></a>#}
{#                       <a href="#" class="fa fa-google-plus"></a>#}
{#                       <a href="#" class="fa fa-pinterest"></a>#}
{#                       <a href="#" class="fa fa-linkedin"></a>#}
{#                       <div class="share-icon"><i class="fa fa-share-alt"></i></div>#}
{#                     </div> <!-- //post-share-social -->#}
{#                     <div class="article-info">#}
{#                       <h4 class="entry-title">#}
{#                         <a href="single-article.html">Aliquam sed felis ligula. Duis non nulla magna</a>#}
{#                       </h4>#}
{#                     </div>#}
{#                   </div>#}
{#                 </article>#}
{#               </div> <!-- //col-sm-4 -->#}
{#             </div>#}
{#           </div> <!-- //row -->#}

           <div class="row">
           <div class="col-sm-12">
               <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */

                    var disqus_config = function () {
                        this.page.url = "http://0tinn.com/g/" + "{{ news.title }}";  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = "{{ news.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    (function() {  // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//0tinn.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                   </div>
           </div> <!-- //row -->
          </div> <!-- //col-sm-9 -->
        </div> <!-- //row -->
      </div> <!-- //container -->
    </section>
{% endblock %}
