{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="sep20"></div>
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <div class="panel panel-default box">
                <div class="page-header">
                    <h4><strong>{{ news.title }}</strong></h4>
                </div>
                {{ moment(news.date_created, local=True).fromNow() }}
                <hr>
                    <p class="lead">{{ news.sentence }}</p>
                    <img src="{{ news.pic }}" class="img-thumbnail img-responsive">
                    <hr>
                    <div class="story-text">
                    {{ news.content | safe }}
                        </div>
                    <hr>

            </div>
                <div class="sep20"></div>
                <div class="panel panel-default">
                <form class="form-custom form-horizontal">
                        {{ form.hidden_tag() }}
                        {{ form.content(class="form-control",style="overflow: hidden;resize: vertical; word-wrap: break-word; width: 100%;",maxlength='10000') }}
                        <button class="btn  btn-default" onclick="post_reply()">Comment</button>
                    </form>
                    <ul class="list-group reply-list">
                        <li class="list-group-item reply-header small">
                            <strong>{{ replies | length }} Reply<strong></strong>
                            </strong>
                        </li>
                        {% for i in replies %}
                            <li class="list-group-item reply">
                                <div class="media">
                                  <div class="media-left">
                                    <a href="/member/{{ i.username }}">
                                     <img class="media-object" src="{{ i.get_user().avatar }}" data-holder-rendered="true" style="width: 48px; height: 48px;">
                                    </a>
                                  </div>
                                    <div class="media-body">
                                        <span>
                                            <strong id="username">{{ i.username }}</strong> <span class="text-muted">&nbsp;&nbsp;{{ moment(i.date_created, local=True).fromNow() }}</span>
                                        </span>
                                        <p>
                                        {{ i.content | safe }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                    </ul>
                <div class="sep20">
                </div>
                </div>
    </div>
            <div class="col-md-3">
            <div class="sep20"></div><div class="sep20"></div><div class="sep20"></div><div class="sep20"></div>
                {% if current_user.is_authenticated %}
                 <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="media">
                      <div class="media-left">
                        <a href="/member/{{ current_user.username }}">
                            <img class="media-object" src="{{ current_user.avatar }}" data-holder-rendered="true" style="width: 48px; height: 48px;">
                        </a>
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">{{ current_user.username }}</h5>
                          <table cellpadding="0" cellspacing="0" border="0" width="100%">
                              <tbody>
                                <tr>
                                    <td width="33%" align="center"><a style="display: block;" href="/member/{{ current_user.username }}"><h5>{{ session.get('my_topic_num') }}</h5><span class="text-muted">My &nbsp;&nbsp;&nbsp;topics</span></a></td>
                                    <td width="34%" style="border-left: 1px solid rgba(100, 100, 100, 0.4); border-right: 1px solid rgba(100, 100, 100, 0.4);" align="center"><a style="display: block;" href="/member/{{ current_user.username }}"><h5>0</h5><span class="text-muted">Topic collections</span></a></td>
                                    <td width="33%" align="center"><a style="display: block;" href="/member/{{ current_user.username }}"><h5>{{ session.get("following_nums") }}</h5><span class="text-muted">Special attention</span></a></td>
                                </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                          <hr>
                          <h5><a href="/post"><i class="fa fa-pencil" aria-hidden="true">New topic</i></a></h5>
                          <hr>
                          <a href="/member/{{ current_user.username }}"> {{ session.get("msg_num") }} tips unread</a>
                      {% if current_user.is_check_in %}
                          <a href="/balance"><span class="pull-right"><strong>{{ current_user.wealth }}</strong> <i class="fa fa-music" aria-hidden="true"></i></span></a>
                      {% else %}
                          <button class="btn-default btn pull-right" onclick="check_in()">Check in</button>
                      {% endif %}
                  </div>
                </div>
                 {% else %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="text-muted"> Registered is more exciting </span>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="/signup"><button class="btn btn-default">Join us</button> </a>
                                <p></p>
                                <p>or you want to <a href="/login">sign in</a> </p>
                            </div>
                        </div>
                    </div>
                 {% endif %}
        </div>
        <div class="col-md-3">
            <div style="height: 50px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- 0tinn_second -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-9642706590148415"
                             data-ad-slot="2464502080"
                             data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $('textarea').focus(function(){
                {% if not current_user.is_authenticated %}
                    alert("Login first");
                    $("textarea").blur();
                {% endif %}
            })
        });
    function post_reply(){
        $.ajax({
            url: "/g/handle_ajax",
            type: "GET",
            data: {"tab":"gnews", "action":"post_reply", "id":"{{ news.id }}", "content": $("#content").val()},
            success: function(msg){
                alert(msg["info"])
            }
        })
    }
    {% if current_user.is_authenticated %}
        var $button = $("<div id='reply-button' class='btn btn-xs'><i class='fa fa-reply' aria-hidden='true'></i></div>").click(function(){
            var m = $(this).prev().find("#username").text();
            $("#content").focus().text("@" + m + " ");
        });
        $(".reply").hover(function(){ $(this).append($button);
            $button.show();
        }, function(){ $button.hide();  });  {% endif %}
    </script>
{% endblock %}
