{% extends "base.html" %}
{% import "_macros.html" as macro %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h3>News</h3>
                <a href="/g/{{ hot.title }}"  itemprop="url">
                    <div class="hot-box">
                    <img src="{{ hot.pic }}"  style="width: 100%">
                    <div class="font-box">
                        <span itemscope itemtype="http://schema.org/Article" class="title" style="font-size: large">{{ hot.title }}</span>
                        <p>{{ hot.sentence }}</p>
                    </div>
                        </div>
                </a>
                    <hr>
                        <h5>Lasted News</h5>
                    <hr>
            <div class="list-group">
                {% for i in news.items %}
                    <a href="/g/{{ i.title }}" class="list-group-item" itemprop="url">
                    <div class="media">
                      <div class="media-left">
                          <img class="media-object" src="{{ i.pic }}" style="width: 250px; height: 140px"  itemprop="image">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading" itemscope itemtype="http://schema.org/Article">{{ i.title }}</h4>
                          <p>{{ moment(i.date_created, local=True).fromNow() }}</p>
                        {{ i.sentence }}
                      </div>
                    </div>
                    </a>
                {% endfor %}
                    </div>
            {% if news.total > 30 %}
                {{ macro.gnews_pg(news) }}
            {% endif %}
                </div>
        <div class="col-md-3">
            <div class="sep20"></div><div class="sep20"></div><div class="sep20"></div><div class="sep20"></div>
                {% if current_user.is_authenticated %}
                 <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="media">
                      <div class="media-left">
                        <a href="/member/{{ current_user.username }}">
                            <img class="media-object" src="{{ current_user.avatar }}" data-holder-rendered="true" style="width: 48px; height: 48px;">
                        </a>
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">{{ current_user.username }}</h5>
                          <table cellpadding="0" cellspacing="0" border="0" width="100%">
                              <tbody>
                                <tr>
                                    <td width="33%" align="center"><a style="display: block;" href="/member/{{ current_user.username }}"><h5>{{ session.get('my_topic_num') }}</h5><span class="text-muted">My &nbsp;&nbsp;&nbsp;topics</span></a></td>
                                    <td width="34%" style="border-left: 1px solid rgba(100, 100, 100, 0.4); border-right: 1px solid rgba(100, 100, 100, 0.4);" align="center"><a style="display: block;" href="/member/{{ current_user.username }}"><h5>0</h5><span class="text-muted">Topic collections</span></a></td>
                                    <td width="33%" align="center"><a style="display: block;" href="/member/{{ current_user.username }}"><h5>{{ session.get("following_nums") }}</h5><span class="text-muted">Special attention</span></a></td>
                                </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                          <hr>
                          <h5><a href="/post"><i class="fa fa-pencil" aria-hidden="true">New topic</i></a></h5>
                          <hr>
                          <a href="/member/{{ current_user.username }}"> {{ session.get("msg_num") }} tips unread</a>
                      {% if current_user.is_check_in %}
                          <a href="/balance"><span class="pull-right"><strong>{{ current_user.wealth }}</strong> <i class="fa fa-music" aria-hidden="true"></i></span></a>
                      {% else %}
                          <button class="btn-default btn pull-right" onclick="check_in()">Check in</button>
                      {% endif %}
                  </div>
                </div>
                 {% else %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="text-muted"> Registered is more exciting </span>
                        </div>
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="/signup"><button class="btn btn-default">Join us</button> </a>
                                <p></p>
                                <p>or you want to <a href="/login">sign in</a> </p>
                            </div>
                        </div>
                    </div>
                 {% endif %}
        </div>
        <div class="col-md-3">
            <div style="height: 50px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- 0tinn_second -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-9642706590148415"
                             data-ad-slot="2464502080"
                             data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                </div>
        </div>
    <div class="sep20"></div>
    </div>
    </div>
{% endblock %}
