{% extends 'base.html' %}
{% import "_macros.html" as macro %}

{% block main %}
    <div class="sep20"></div>
    <div class="sep20"></div>
    <div class="panel panel-default">
    <div class="box">
        <ul class="nav nav-pills">
            <li>
                <a href="/forum?tab=new" class="tab">Lastest</a>
            </li>
            <li>
                <a href="/forum?tab=pc" class="tab">PC</a>
            </li>
            <li>
                <a href="/forum?tab=xbox" class="tab">Xbox</a>
            </li>
            <li>
                <a href="/forum?tab=ps4" class="tab">PS4</a>
            </li>
            <li>
                <a href="/forum?tab=iphone" class="tab">iPhone</a>
            </li>
            <li>
                <a href="/forum?tab=android" class="tab">Android</a>
            </li>
            <li>
                <a href="/forum?tab=other" class="tab">Other</a>
            </li>
        </ul>
    </div>
        <ul class="list-group">
                            {% for topic in topics %}
                                <li class="list-group-item cell">
                                  <div class="media">
                                      <div class="media-left">
                                          <a href="/member/{{ topic.get_user().username }}">
                                              <img class="media-object" src="{{ topic.get_user().avatar }}" data-holder-rendered="true" style="width: 48px; height: 48px;">
                                          </a>
                                      </div>
                                      <div class="media-body">
                                            <a href="/topic/{{ topic.id }}"><h5 class="media-heading" itemscope itemtype="http://schema.org/Article">{{ topic.title }}</h5></a>
                                            <p>
                                                <span class="label label-primary">{{ topic.label }}</span>&nbsp; &hearts; &nbsp;
                                                <strong>{{ topic.username }}</strong>&nbsp; &hearts; &nbsp;
                                                <span class="text-muted">{{ moment(topic.date_created, local=True).fromNow() }}</span>&nbsp; &bull; &nbsp;
                                                {% if topic.last_reply %}
                                                    <span class="text-muted">last reply from <strong>{{ topic.last_reply }}</strong></span>
                                                {% endif %}
                                            </p>
                                     </div>
                                      <div class="media-right">
                                          <span class="badge">{{ topic.reply_num }}</span>
                                      </div>
                                  </div>
                              </li>
                              {% endfor %}
                            <li class="list-group-item cell"><i class="fa fa-angle-double-right"></i> <a href="/{{ tab }}">More about</a></li>
            </ul>
    </div>
{% endblock %}

{% block side %}
    <div class="panel panel-default">
          <div class="panel-heading">
            <sapn class="text-muted">Hot</sapn>
          </div>
          <div class="panel-body hot-panel">
            <table class="hot-list table table-striped table-hover">
            {% if hot_topics[0] != none %}
              {% for t in hot_topics %}
                  <tbody>
                    <tr>
                        <td width="5%">
                            <a href="/member/{{ t.get_user().username }}">
                               <img class="media-object" src="{{ t.get_user().avatar }}" data-holder-rendered="true" style="width: 24px; height: 24px;">
                            </a>
                        </td>
                        <td>
                            <a href="/topic/{{ t.id }}">{{ t.title }}</a>
                        </td>
                    </tr>
                  </tbody>
              {% endfor %}
            {% endif %}
            </table>
          </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
           var tab = "{{ tab }}";
            $("#"+tab).addClass("active");
    })
    </script>
{% endblock %}
