{% extends "base.html" %}
{% import "_macros.html" as macro %}

{% block main %}
    <div class="sep20"></div>
    <div class="sep20"></div>
    <ul class="list-group">
        <li class="list-group-item cell">
        <div class="pull-right text-muted">
           {{ topics.total }} Songs
        </div>
            <a href="/">0Tinn</a> > <strong>{% if label == "recent" %}Recent{% elif label == "cn" %}Chinese{% elif label=="en" %}English{% elif label=="jk" %}Japan and South Korea{% elif label=="ins" %}纯音乐{% elif label=="other" %}Other{% endif %}</strong></li>
        {% for topic in topics.items %}
            <li class="list-group-item cell">
                <div class="media">
                    <div class="media-left">
                        <a href="/member/{{ topic.get_user().username }}">
                            <img class="media-object" src="{{ topic.get_user().avatar }}" data-holder-rendered="true" style="width: 48px; height: 48px;">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/topic/{{ topic.id }}"><h5 class="media-heading">{{ topic.title }}</h5></a>
                        <p>
                            <span class="label label-primary">{{ topic.label }}</span>&nbsp; &hearts; &nbsp;
                            <strong>{{ topic.username }}</strong>&nbsp; &hearts; &nbsp;
                            <span class="text-muted">{{ topic.date_created | humanize_date }}</span>&nbsp; &bull; &nbsp;
                            {% if topic.last_reply %}
                                <span class="text-muted">Last reply from<strong>{{ topic.last_reply }}</strong></span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="media-right">
                        <span class="badge">{{ topic.reply_num }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if topics.total > 30 %}
    {{ macro.topic_pagination(topics, label) }}
    {% endif %}
{% endblock %}