{% extends "base.html" %}
{% import "_macros.html" as macro %}

{% block main %}
    <div class="sep20"></div>
    <div class="panel panel-default">
    <div class="sep20"></div>
        <div class="page-header">
            <div class="text-muted">当前账户余额</div>
            <h4><strong>{{ current_user.wealth }} <i class="fa fa-music"></i></strong></h4>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>时间</td>
                    <td>类型</td>
                    <td>数额</td>
                    <td>余额</td>
                </tr>
            </thead>
            <tbody>
                {% if pagination.total > 0 %}
                    {% for i in pagination.items %}
                        <tr>
                            <td>{{ i.time_created }}</td>
                            <td><strong>{{ i.types }}</strong></td>
                            <td><strong><span style="color: {% if i.nums < 0 %}red{% else %}green{% endif %}"> {{ i.nums }}</span></strong></td>
                            <td>{{ i.balance }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% if pagination.total > 40 %}
            {{ macro.balance_pagination(pagination) }}
        {% endif %}
    </div>
{% endblock %}