{% extends 'base.html' %}

{% block main %}
    <div class="sep20"></div>
    <div class="sep20"></div>
    <div class="panel panel-default">
    <form method="POST" class="form-horizontal form-custom" action="/login">
        <fieldset>
            <legend>Sign in</legend>
            <div class="form-group">
                {{ form.hidden_tag() }}
                {{ form.email.label(class='control-label col-lg-2') }}
                <div class="col-lg-10 {% if form.email.errors %} has-error {% endif %}">
                    {{ form.email(class='form-control', placeholder='Email or Username') }}
                </div>
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="col-lg-10 col-lg-offset-2 text-danger "> {{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class='control-label col-lg-2') }}
                <div class="col-lg-10 {% if form.password.errors %} has-error {% endif %}">
                    {{ form.password(class='form-control', placeholder='Password') }}
                </div>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="col-lg-10 col-lg-offset-2 text-danger "> {{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                    {{ form.remeber_me.label(class='control-label col-lg-2') }}
                    <div class="col-lg-10">
                        {{ form.remeber_me(class='form-control') }}
                    </div>
                </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    {{ form.recaptcha }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    {{ form.submit(class='btn btn-primary') }}
                    <div class="pull-right">No account？<a href="/login">Sign up</a>,<a href="/forget">forget password？</a> </div>
                </div>
            </div>
        </fieldset>
    </form>
    </div>
{% endblock %}