{% extends 'base.html' %}

{% block main %}
    <div class="sep20"></div>
    <div class="sep20"></div>
    <div class="panel panel-default">
    <form method="POST" class="form-horizontal form-custom" action="/reset_pw/{{ r_email }}/{{ r_token }}">
        <fieldset>
            <legend>Reset password</legend>
            <div class="form-group">
                {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.password.label(class='control-label col-lg-2') }}
                <div class="col-lg-10 {% if form.password.errors %} has-error {% endif %}">
                    {{ form.password(class='form-control', placeholder='Password') }}
                </div>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="col-lg-10 col-lg-offset-2 text-danger "> {{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class='control-label col-lg-2') }}
                <div class="col-lg-10">
                    {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                {{ form.recaptcha }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    {{ form.submit(class='btn btn-primary', id='embed-submit') }}
                </div>
            </div>
        </fieldset>
    </form>
    </div>
{% endblock %}