{% extends 'base.html' %}

{% block main %}
    <div class="sep20"></div>
    <div class="sep20"></div>
    <div class="panel panel-default">
    <form method="post" class="form-horizontal form-custom">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Settings</legend>
            <div class="form-group">
                <div class="control-label col-lg-2">Username</div>
                <div class="control">
                    <div class="col-lg-10"><strong>{{ current_user.username }}</strong></div>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-lg-2">Email</div>
                <div class="control">
                    <div class="col-lg-10">
                        <div class="pull-right">
                            {% if current_user.is_confirmed %}
                                <div class="label label-success">Verified</div>
                            {% else %}
                                <label class="label label-danger" role="button" onclick="confirm()">Unverified</label>
                            {% endif %}
                        </div>
                        <strong>{{ current_user.email }}</strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                    {{ form.gender.label(class='control-label col-lg-2') }}
                    <div class="col-lg-10">
                        {% for gd in form.gender %}
                            {{ gd.label }}
                            {% if current_user.gender in gd.label | string %}
                                {{ gd(checked='checked') }}
                            {% else %}
                                {{ gd }}
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
            <div class="form-group">
                {{ form.signature.label(class='col-lg-2 control-label') }}
                <div class="col-lg-10">
                    {% if current_user.signature %}
                        <textarea class="control" id="signature" maxlength="10000" name="signature" rows="4" style="overflow: hidden;resize: vertical; word-wrap: break-word; width: 100%" >{{ current_user.signature }}</textarea>
                    {% else %}
                        {{ form.signature(class='form-control', placeholder='Signature', style="overflow: hidden;resize: vertical; word-wrap: break-word; width: 100%",rows='4',maxlength='10000') }}
                    {% endif %}
                </div>
            </div>
        <div class="form-group">
            <div class="col-lg-2 control-label">Current Avatar</div>
            <div class="col-lg-10 control">
                <div >
                    <img src="{{ current_user.avatar }}" style="width: 73px; height: 73px">
                </div>
            </div>
        </div>
            <div class="form-group">
                {{ form.avatar.label(class='control-label col-lg-2') }}
                <div class="col-lg-10">
                    {{ form.avatar(class='form-control', placeholder='Image url here') }}
                </div>
                {% if form.avatar.errors %}
                    {% for error in form.avatar.errors %}
                        <div class="col-lg-10 col-lg-offset-2 text-danger "> {{ error }}</div>
                    {% endfor %}
                {% endif %}
                <div class="col-lg-offset-2 col-lg-10 text-muted">
                    <p>Rules on Avatar</p>
                    <ul >
                        <li>DO NOT use any vulgar or sensitive image as an avatar</li>
                        <li>If you are a man, a woman, do not use the photo as avatar</li>
                    </ul>
                </div>
        <div class="form-group ">
            <div class="col-lg-offset-2 col-lg-10">
                {{ form.submit(class='btn btn-default') }}
            </div>
        </div>
        </fieldset>
    </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var c = getCookie("Sended");
            if (c != "") {
                $(".label-danger").text("Wait 60 second").removeAttr("onclick");
            }
        });
        function confirm(){
            if (getCookie("Sender") == "") {
                $.ajax({
                    url: "/send_confirm/{{ current_user.id }}",
                    type: "POST",
                    success: function () {
                        alert("Sent successfully, do not forget to check spam.");
                        $(".label-danger").text("Sended").removeAttr("onclick");
                        Setcookie();
                    },
                    error: function () {
                        alert("Send failed")
                    }
                })
            }
        }
    function Setcookie()
    {
        var expdate = new Date();
        expdate.setTime(expdate.getTime() + 60 * 1000);
        document.cookie = "Sended=true;expires="+expdate.toGMTString();
    }
    function getCookie(c_name)
        {
        if (document.cookie.length>0)
          {
          c_start=document.cookie.indexOf(c_name + "=");
              if (c_start!=-1)
                {
                c_start=c_start + c_name.length+1;
                c_end=document.cookie.indexOf(";",c_start);
                if (c_end==-1) c_end=document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end))
                }
          }
        return ""
        }
    </script>
{% endblock %}