{% extends "bootstrap/base.html" %}

{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    0Tinn
    {% endblock %}
    {% block styles %}
        {{ super() }}
        <link href="{{ url_for("static",filename="css/datepicker3.css") }}" rel="stylesheet">
        <link href="{{ url_for("static",filename="css/styles.css") }}" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>0Tinn</span>Admin</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <hr>
        <ul class="nav menu">
            <li><a href="/adm"><span class="glyphicon glyphicon-dashboard"></span>概览</a></li>
            <li><a href="/adm/forms"><span class="glyphicon glyphicon-plus"></span> 添加 </a></li>
            <li><a href="/adm/manage"><span class="glyphicon glyphicon-th"></span> 管理</a> </li>
            <li role="presentation" class="divider"></li>
        </ul>
        <div class="attribution">回到<a href="/"> 首页 </a></div>
    </div><!--/.sidebar-->
{% endblock %}

{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    {% block main %}
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active">概览</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">概览</h1>
            </div>
        </div><!--/.row-->
        {% endblock %}
    </div>	<!--/.main-->
{% endblock %}
