{% extends "admin/index.html" %}
{% import "_macros.html" as macros %}

{% block main %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
            <ul class="nav nav-pills">
                <li id="music">
                    <a href="/adm/manage?tab=music" class="tab">音乐</a>
                </li>
                <li id="gnews">
                    <a href="/adm/manage?tab=gnews" class="tab">游戏资讯</a>
                </li>
                <li id="game_strategy">
                    <a href="/adm/manage?tab=strategy" class="tab">游戏攻略</a>
                </li>
                <li id="user">
                    <a href="/adm/manage?tab=user" class="tab">用户</a>
                </li>
            </ul>
                <hr>
                {% if tab=="gnews" %}
                    {% include "admin/table/gnews.html" %}
                {% elif tab=="user" %}
                    {% include "admin/table/users.html" %}
                {% else %}
                    {% include "admin/table/music.html" %}
                {% endif %}
            {% if cells.total >= 20 %}
                {{ macros.table_pg(cells, tab) }}
            {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function gnews(info) {
            action = info.split("&")[0];
            id = info.split("&")[1];
            $.ajax({
                url: "/g/handle_ajax",
                type: "GET",
                data: {"tab": "{{ tab }}", "action": action, "id":id},
                success: function(msg) {
                    alert(msg["info"])
                }
            })
        }
    </script>
{% endblock %}