{% macro  topic_pagination(pagination,label)%}
    <ul class="pagination pagination-sm">
      <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
          <a href="/{{ label }}?p={{ pagination.page - 1 }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span></a>
      </li>
        {% for p in pagination.iter_pages(left_edge=1, right_edge=1) %}
            {% if p %}
            {% if p == pagination.page %}
            <li class="active">
            <a href="/{{ label }}&p={{ p }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
            <a href="/{{ label }}&p={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li {% if not pagination.has_next %} class="disabled" {% endif %}>
            <a href="/{{ label }}?p={{ pagination.page + 1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro reply_pagination(pagination, id) %}
        <ul class="pagination pagination-sm">
          <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
              <a href="/topic/{{ id }}?p={{ pagination.page - 1 }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span></a>
          </li>
        {% for p in pagination.iter_pages(left_edge=1, right_edge=1) %}
            {% if p %}
            {% if p == pagination.page %}
            <li class="active">
            <a href="/topic/{{ id }}?p={{ p }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
            <a href="/topic/{{ id }}?p={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li {% if not pagination.has_next %} class="disabled" {% endif %}>
            <a href="/topic/{{ id }}?p={{ pagination.page + 1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro balance_pagination(pagination) %}
        <ul class="pagination pagination-sm">
          <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
              <a href="/balance?p={{ pagination.page - 1 }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span></a>
          </li>
        {% for p in pagination.iter_pages(left_edge=1, right_edge=1) %}
            {% if p %}
            {% if p == pagination.page %}
            <li class="active">
            <a href="/balance?p={{ p }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
            <a href="/balance?p={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li {% if not pagination.has_next %} class="disabled" {% endif %}>
            <a href="/balance?p={{ pagination.page + 1 }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
{% endmacro %}