{% extends 'base.html' %}

{% block main %}
    <div class="sep20"></div>
    <div class="sep20"></div>
    <div class="panel panel-default about-text">
        <div class="page-header">
            <p></p>
            <h4>About MS</h4>
        </div>
        <p>MS 是一个分享自己喜欢的音乐的社区</p>
        <p>希望大家能够多多分享自己喜欢的音乐，自己的看法。并且，最重要的是，在这一切的过程中，保持对他人的友善。
        </p>
        <p>为了保持这里的良好氛围，MS 有自己的明确规则： </p>
        <ul>
            <li>这里感激和崇尚美的事物 </li>
            <li>这里反对无信息量习惯如“顶”，“沙发”，“前排”，“留名”，“路过”，“不明觉厉” </li>
            <li>这里禁止发布人身攻击、仇恨、暴力、侮辱性的言辞、暴露他人隐私的“人肉贴” </li>
            <li>遵守中国的法律 </li>
        </ul>
        <p>社区是靠大家一起守护的，如有发现任何不符合本站规则的，请举报，举报方式请查看FAQ </p>
        <br>
        <p class="small text-muted">Last Revised (TIme)</p>
    </div>
{% endblock %}