{% extends 'index.html' %}

{% block start %}
{% endblock %}
{% block main %}
    <section class="main-wrapper history-page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="history-info">
              <p class="title">Advertise on 0Tinn</p>
              <p>I will provide an excellent advertising space</p>
        <p>You can mail me。</p>
        <P>Email：Seagullsay3@yahoo.com</P>
                </div>
              </div><!-- //row -->
        </div> <!-- //our-history -->
      </div> <!-- //container -->
    </section>
{% endblock %}