{% extends 'base.html' %}

{% block main %}
    <div class="sep20"></div>
    <div class="sep20"></div>
    <div class="panel panel-default about-text">
        <div class="page-header">
            <h5>什么是MS？</h5>
        </div>
        <p>MS = Music Share</p>
        <div class="page-header">
            <h5>MS 的主题？</h5>
        </div>
        <p>MS 的主题就是分享自己喜欢的音乐，你可以说出自己对这首歌的感想，又或者只是单纯的喜欢这首歌的旋律。当然可以发现更多的朋友</p>
        <div class="page-header">
            <h5>主题的格式？</h5>
        </div>
        <div class="page-header">
            <h5>关于音乐点</h5>
        </div>
        <p>本站实行音乐点，你可以将它看成积分。以下是详细的介绍:</p>
        <ul>
            <li>每日签到将随机获取5-40个音乐点</li>
            <li>发布主题需要20点音乐点，更新需要5点</li>
            <li>发表回复需要5点音乐点，自己创建的主题收到回复将获得5个音乐点，但是自己回复自己创建的主题是不会获得音乐点的</li>
        </ul>
        <div class="page-header">
            <h5>头像上传不成功？</h5>
        </div>
        <P>如果报图片格式不支持的话可以多试几次。有的图片设有防盗链，所以没发上传。请换别的url</P>
        <div class="page-header">
            <h5>是否可以编辑自己的主题？</h5>
        </div>
        <p>可以，但是不允许删除自己的主题</p>
        <div class="page-header">
            <h5>是否可以编辑或者删除自己的回复？</h5>
        </div>
        <p>不可以，所以请大家在按下按钮之前确保自己的回复符合自己的意思</p>
        <div class="page-header">
            <h5>是否有拉黑功能？</h5>
        </div>
        <p>将来会有。</p>
    </div>
{% endblock %}