{% extends "base.html" %}

{% block main %}
    <div class="sep20"></div>
    <div class="panel panel-default">
        <div class="sep20"></div>
        <div class="page-header">
            <h4>关于如何获取 音乐iframe</h4>
        </div>
        <p>
            1.首先去网易云音乐找到自己想分享的歌曲,点击生成外链。如果找不到，不好意思，目前只支持网易云
        </p>
        <img src="http://i2.buimg.com/1068112c3cc83d9fs.png">
        <hr>
        <p>
            2.注意图中箭头指的几个地方，推荐不要自动播放。点击复制代码
        </p>
        <img src="http://i2.buimg.com/fbd1077cec49bcd1s.png">
        <hr>
        <p>
            3.回到表单，在音乐iframe一栏中粘贴刚刚复制的代码
        </p>
        <img src="http://i2.buimg.com/a4afebde542be45fs.png">
        <hr>
        <p>4.填好表单后，发布，发布成功</p>
        <img src="http://i2.buimg.com/5ac70b40517dd79es.png">
    </div>
{% endblock %}